<ul class="editor-bar">
  <li class="editor-item">
    <img src="/assets/001-left-alignment.svg" class="editor-icon">
  </li>
  <li class="editor-item">
    <img src="/assets/001-left-alignment.svg" class="editor-icon">
  </li>
  <li class="editor-item">
    <img src="/assets/001-left-alignment.svg" class="editor-icon">
  </li>
  <li class="separate">
    <img src="/assets/substract.svg" class="editor-icon">
  </li>
  <li class="editor-item">
    <img src="/assets/001-left-alignment.svg" class="editor-icon">
  </li>
  <li class="editor-item">
    <img src="/assets/001-left-alignment.svg" class="editor-icon">
  </li>
  <li class="editor-item">
    <img src="/assets/001-left-alignment.svg" class="editor-icon">
  </li>
  <li class="separate">
    <img src="/assets/substract.svg" class="editor-icon">
  </li>
  <li class="editor-item">
    <img src="/assets/001-left-alignment.svg" class="editor-icon">
  </li>
  <li class="editor-item">
    <img src="/assets/001-left-alignment.svg" class="editor-icon">
  </li>
  <li class="editor-item">
    <img src="/assets/001-left-alignment.svg" class="editor-icon">
  </li>
  <li class="editor-item">
    <img src="/assets/001-left-alignment.svg" class="editor-icon">
  </li>
</ul>
